  
@import "reset.css";
@import "layout.css";
@import "module.css";



* {
    box-sizing: border-box;
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');


body{
    background-color:#9b9b9b ;
    color: #d8d8d8;
    font-family: 'Dosis', sans-serif;
}

